
.header {
  width: 300px;
  margin-left: 500px;
  text-align: center;
  background-color: aqua;
}
.footer {
  width: 300px;
  margin-left: 500px;
  display:flex;
  flex-direction: column;
  text-align: center;
  background-color: blueviolet;
}
.item {
  margin-left: 550px;
  margin-bottom: 20px;
  text-align: center;
  width: 200px;
  height: 150px;
  border: 1px solid black;
}