html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }


  header {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center; 
    
         
  }
  header p {
    font-size: 1.5em;
    border-bottom: 2px solid gray ;
  }
  header li {
   list-style:none ;

  }
  ul {
      justify-content: center;
  }
  h2 {
    text-align: center;
  }
 .main-content h1 {
    font-size: 1.2em;
    margin: 5px;
    text-align: center;
    margin-bottom: 30px;
 }
 .main-content p {
    margin: 10px;
 }
 h3 {
     text-align: center;
 }
 p{
     text-align: justify;
     margin: 20px;
 }
 @media (min-width:500px) and (max-width:1000px){


    header {

        font-size: 2.0em;
    }
    h2{
        font-size: 2.0em;
    }
    .aside-one  {
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .aside-one h2{
        border-bottom: 2px solid grey;
    }
    .aside-one li{
        font-size: 1.6em;
    }

    .aside-two {
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .aside-two li{
        font-size: 1.7em;
    }
    .main-content {
        margin: 40px;
    }
    .main-content h1 {
        font-size: 1.9em;
        margin-top: 80px;
    }
    p{
        font-size: 1.8em;
    }
    h3{
        font-size: 1.8em;
    }
    footer {
        margin: 40px;
        font-size: 0.8em;
    }

 }
 @media  (min-width:1001px){

   header p {
       font-size: 4.0em;
   }
   header li {
    font-size: 2.0em;
  }
   h2{
    font-size: 3.0em;
   }
   
   
   .aside-one {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.aside-one  li {
    font-size: 2.0em;
}
   .aside-two {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.aside-two li {
    font-size: 2.0em;
    
}
.main-content h1 {
    font-size: 3.0em;
    margin-top: 60px;
}
.main-content p {
    font-size: 2.0em;
    width: 70%;
    text-align: justify;
    margin-left: 300px;
}
footer h3{
    font-size: 3.0em;

}
footer p{
    font-size: 1.5em;
    width: 70%;
    text-align: justify;
    margin-left: 300px;
    font-style: italic;

}

 }

