h1 {
    text-align: center;
}
p {
    text-align: center;
}
ol {  
   
    display: inline-block;
    text-align: center;
    margin-left: 390px;
    background-color: blanchedalmond;

   
}
ol :hover {
    background-color: yellow;
}


ol :hover{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.list{
    list-style: none;
}